<!-- Cart on right -->
<div class="cart-head">
  <h2 class="cart-title">Your Cart</h2>
</div>
<div class="cart-body">
  <!-- if items are added -->
  <ul class="cart-item-container">
    <% if(!orderOpen) { %>
      <!-- if cart empty -->
      <p class="empty-cart">Your cart is currently empty. Please add items.</p>
      <% } else { %>
        <% let subtotal = 0; %>
        <!-- <p class="cart-title">Your Cart</p> -->
        <p class="restaurant-name"><%= restaurants.name %></p>
        <p class="restaurant-address"><%= addresses.street%><span>, </span><%= addresses.city %></p>
    <% for (let item in orderOpen) { %>
    <li> <span class="cart-item-quantity"><%= orderOpen[item].quantity %></span>
      <span class="cart-item"><%= orderOpen[item].name %></span>
      <span class="cart-item-price"><%= (orderOpen[item].price*.01).toFixed(2) %></span>
    </li>
    <% subtotal += orderOpen[item].price; %>
    <% } %>
  </div>

<% let tax = subtotal * 0.13; %>
<% let total = subtotal + tax; %>


<div class="cart-footer">
  <div class="cart-total">
    <p>Subtotal: <%= (subtotal*.01).toFixed(2) %></p>
    <p>Tax: <%= (tax*.01).toFixed(2) %></p>
    <p>Total: <%= (total*.01).toFixed(2) %></p>
  </div>
  <button class="checkout">Checkout</button>
</div>

<% } %>
