<!-- Cart on right -->
<div class="cart-head">
  <h2 class="cart-title">Your Cart</h2>
</div>
<div class="cart-body">
  <!-- if items are added -->
  <ul class="cart-item-container">

    

    <% if(!orderOpen || orderOpen.length === 0 ) { %>
      <!-- if cart empty -->
      <p class="empty-cart">Your cart is currently empty. Please add items.</p>
      <% } else { %>
        <% let subtotal = 0; %>
        <% let prep_time = 0; %>
        <!-- <p class="cart-title">Your Cart</p> -->
        <p class="restaurant-name">All About Soups</p>
        <p class="restaurant-address">1234 Soup Dr. Toronto, ON M6W9R7</p>
    <% for (let item in orderOpen) { %>
    <li> <span class="cart-item-quantity"><%= orderOpen[item].quantity %></span>
      <span class="cart-item"><%= orderOpen[item].name %></span>
      <span class="cart-item-price"><%= (orderOpen[item].price*.01).toFixed(2) %></span>
    </li>
    <% subtotal += orderOpen[item].price; %>
    <% prep_time += orderOpen[item].prep_time; %>
    <% } %>
  </div>

<% let tax = subtotal * 0.13; %>
<% let total = subtotal + tax; %>
<% let checkout = { } %>

<div class="cart-footer">
  <div class="cart-total">
    <p>Subtotal: <%= (subtotal*.01).toFixed(2) %></p>
    <p>Tax: <%= (tax*.01).toFixed(2) %></p>
    <p>Total: <%= (total*.01).toFixed(2) %></p>
  </div>
  <form action="/checkouts" method="POST">
    <input type="hidden" id="user_id" name="user_id" value=<%= user_id %> >
    <button type="submit" class="checkout">Checkout</button>
  </form>
</div>

<% } %>
